body{
    background-image: url(https://images.unsplash.com/photo-1662027008658-b615840c7deb?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHRvZG98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}
.signup{
    background: transparent;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}
.signup h1{
    display: flex;
    color: rgb(231, 12, 12);
    margin: 10px 20px ;
    
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(238, 226, 226);
    font-size: 25px;
    gap: 20px;

}
.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #0a0a0a;
  padding: 10px 20px 10px 20px;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #2575fc;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.4);
  outline: none;
}
button{
font-size: 25px;
color:black;
background-color: rgb(0, 102, 255);
border-radius: 13px;
}
button:hover{
background-color: darkmagenta;
}

